name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  download_redis:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Cache Download and build Redis
      uses: actions/cache@v5
      with:
        path: ~/redis
        key: redis-${{ hashFiles('.download-redis.sh') }}
    - name: Download and build Redis
      run: ./.download-redis.sh
  tests:
    needs: [download_redis]
    uses: ./.github/workflows/single-redis.yml
    with:
      redis-versions: '["8.4", "8.6"]'
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
  tests_older:
    needs: [download_redis]
    uses: ./.github/workflows/single-redis.yml
    with:
      python-versions: '["3.13", "3.14"]'
      redis-versions: '["6.2", "7.2", "7.4", "8.2"]'
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
  tests_oldest:
    needs: [download_redis]
    uses: ./.github/workflows/single-redis-oldest.yml
    with:
      python-versions: '["3.10", "3.14"]'
      redis-versions: '["6.2", "7.2", "8.2"]'
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
